<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SRH Associates</title>
    <link rel="icon" href="Images/SRH.png" type="image/gif">
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<div class="container">
    <div class="well text-center">
        <h1>SRH Admin Panel Login</h1>
    </div>
    <hr/>

    

    <div class="container">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Login</h3>
                    </div>
                    <div class="modal-body">
                        <form action="login.php" method="post">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="email" required>
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password" placeholder="password" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-success" name="login_submit" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

</body>
<footer>
    <script type="text/javascript" src="javascript/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="javascript/bootstrap.js"></script>
</footer>
</html>