
<html>
<head>
   	<title>SRH Associates</title>
	<link rel="icon" href="Images/SRH.png" type="image/gif">

    <link rel="stylesheet" type="text/css" href="css/services.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="service-grid pb-5 pt-5">
                <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center mb-4">
                        <div class="service-title">
                            <h2 style="color: white;">Our Services</h2>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap Banking">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">GST SERVICES</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>NEW REGISTRATION OF GST</li>
                                <li>MONTH WISE FOLLOW WITH CLIENTS & FILLING THE RETURN LIKE GSTR-1  ,GSTR-3B ,GSTR-4, ETC.,</li>
                                <li>GSTR-2A RECONCIL OF THE PURCHASES INPUTS AVAILED EVERY 3 MONTHS ONCE & UPDATES THE REPORT TO THE CLIENT'S</li>
                                <li>IF ANY CHANGES MADE IN GST PORTAL LIKE CHARGES OF NEW ADDRESS, MOBILE NUMBERS, MAIL ID, FIRM NAME AND ALL TYPES OF CHARGES WILL BE DONE AS PER SPECIAL ACTION & REQUIRED PROPER DOCUMENT</li>
                                <li>GSTR-9 & 9C ANNUAL RETURNS FILING</li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap Mutual_funds">
                            <div class="service-icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <h4 style="color: orange;">INCOME TAX FILING</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>SALARY, BUSINESS</li>
                                
                                <li>TAX AUDITING CASE</li>
                                <li>RENTAL INCOME</li>
                                <li>OTHER SOURCES</li>
                                <li>CAPITAL GAINS ETC</li>
                                <li>PREPARATION OF BASIC DOCUMENTS REQUIRED FROM CONCERN PERSON OR FIRM</li>
                                <li>FILLING ALL TYPES OF INCOME TAX RETURNS</li>
                                <li>FILLING OR PAY SLIPS IS MUST</li>
                                <li>FOR OTHER THEN SALARY IF GST AVAILABLE THE GSTR-1,GSTR-2A&GSTR-3B REQUIRED MUST</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap investments">
                            <div class="service-icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h4 style="color: orange;">PAYROLL SERVICES</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>CALCULATION OF MONTH WISE SALARY BASED ON PROVIDED INPUTS</li>
                                <li>PAY SLIPS PREPARATION</li>
                                <li>ON TIME PT PREPARATION TAX & TDS PAYMENTS ON TIME WITH THE CONCERN CLIENT SUPPORT</li>
                                <li>ANNUAL WISE SALARY COMPUTATION PREPARATION</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap stock_market">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">TDS RELATED WORKS</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>APPLYING OF TAN</li>
                                <li>TDS PAYMENTS WILL BE INTIMATED MONTH WISE</li>
                                <li>QTR WISE TDS FILING WILL BE DONE</li>
                                <li>EVERY FINANCIAL YEAR, WE PROVIDE FORM 16(PERSON'S SALARY)</li>
                                <li>FORM 16A IS ALSO PROVIDED</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap audit_consulting">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">ALL TYPES OF REGISTRATIONS</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>MSME</li>
                                <li>SHOP AND ESTABLISHMENT</li>
                                <li>FSSAI,PF,ESI ETC..</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap stock_market">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">PROFESSIONAL TAX</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>NEW REGISTRATION OF EMPLOYEE & EMPLOYER (P.T)</li>
                                <li>MONTHLY RETURNS FILING</li>
                                <li>ANNUAL RETURNS FILING</li>
                            </ul>
                            
                        </div>
                    </div>



                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap investments">
                            <div class="service-icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h4 style="color: orange;">PREPARATION OF PROFIT, LOSS, A/C BALANCE SHEET, COMPUTATION ETC., FOR TAX AUDIT CASES</h4>
                            <ul class="list" style="color: white; text-align: justify; font-weight: bold;">
                                <li>MANUAL ACCOUNTING / FINANCIALS</li>
                            </ul>   
                            <ol class="letters" style="color: white; text-align: justify;">
                                <li>PREPARATION TALLY OR EXCEL ENTRIES MONTH WISE OR ANNUAL WISE</li>
                                <li>PREPARATION OF QUOTATION'S, INVOICES & E-WAYS BILLS </li>
                                <li>STOCK REPORT MONTH WISE AND PARTY WISE RECO</li>
                                <li>HAVING A DETAILED CHART OF FINANCES </li>
                                <li>PREPARATION P&L,B/S,BANU & OTHER RECONCILATION</li>
                            </ol>

                        </div>        
                    </div>        

                    
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap audit_consulting">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">SERVICES</h4>
                            <ul class="list" style="color: white; text-align: justify;">
                                <li>WE ARE THERE BY PROVIDING TYPING OF ACCOUNTS</li>
                                <li>WE ALSO PROVIDE STATUTORY, AUDIT, GST & INCOME TAX RELATED SERVICES</li>
                                <li>AND MORE SERVICES LIKE MAINTAINING MONTHWISE, QUATERLEY WISE & ANNUAL WISE ACCOUNTING ARE ALSO PROVIDED ON THE CONDITION BASED ON 
                                </li>
                             </ul>       
                            <ol class="letters" style="color: white; text-align: justify;">
                                <li>GENERAL ACCOUNTING IN EXCEL</li>
                                <li>GST RELATED ACCOUNTING IN TALLY SOFTWARE</li>
                            
                            </ol>                            
                        </div>
                    </div>
                </div>
            </div>
            <center><button class="pull-right btn button"><a style="color:white;" href="home.html">Back to Home</a></button></center>
        </section>
    </body>
    </html>